
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
//font-family: 'Lexend', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
//font-family: 'Space Grotesk', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&display=swap');
//font-family: 'Syne', sans-serif;


//reset style
@import './reset';



$font-Space: 'Space Grotesk', sans-serif;
$font-Syne: 'Syne', sans-serif;

body {
	background: #FCFAFF;
}

.container {
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

.none {
	display: none;
}

