.title-2 { 
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #000000;
	font-family: $font-Syne;
}
.title-text { 
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #532C59;
	font-family: $font-Space;
}